*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.login-page,
.user-page {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%);
  padding: 6rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%);
  padding: 10.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-header {
  margin: .7rem 0rem;
}

.login-header h2 {
  font-size: 2rem;
}

.login-header p {
  font-style: verdana;
}


.login-card button,
.user-card button,
.repos-page button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: .4rem;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%);
  color: white;
  font-weight: 600;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: .5rem 3.5rem;
}

.user-info {
  margin: 1rem 0rem;
}

.user-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info p {
  font-style: italic;
  margin: .2rem 0rem;
}

.user-page {
  min-width: 100vh;
  gap: 2rem;
  padding: 1rem;
}

.repos-page {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%);
  padding: 10rem;
  border-radius: 10px;
  display: flex;
  flex-direction: initial;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.repos-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  height: 300px;
  padding: 1rem;
}

.repos-card {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%);
  border-radius: 10px;
  color: black;
  padding: 1rem;
}

.owner {
  margin: .5rem 0rem;
}

.owner img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}